<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<title>Inventory</title>
</head>
<body>

<h1>Lifebasket Inventory</h1>

<a href="/dashboard">Dashboard</a> |
<a href="/logout">Logout</a> |
<a href="/export">Export CSV</a>

<form method="POST" action="/add">
<input name="name" placeholder="Product">
<input name="qty" type="number" placeholder="Qty">
<input name="price" type="number" placeholder="Price">
<button>Add</button>
</form>

<table>
<tr><th>Name</th><th>Qty</th><th>Price</th></tr>

{% for p in products %}
<tr>
<td>{{p[1]}}</td>
<td>{{p[2]}}</td>
<td>{{p[3]}}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
