<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{font-family:Arial;background:#1e3c72;color:white;text-align:center;}
.box{background:white;color:black;width:300px;margin:auto;margin-top:100px;padding:20px;border-radius:10px;}
input{width:90%;padding:10px;margin:10px;}
button{padding:10px;background:blue;color:white;}
</style>
</head>
<body>

<div class="box">
<h2>🔐 Login</h2>

<form method="POST">
<input name="username" placeholder="admin">
<input name="password" type="password" placeholder="1234">
<button>Login</button>
</form>

</div>

</body>
</html>
