<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body style="background:#0b1b3a;color:white;display:flex;justify-content:center;align-items:center;height:100vh">

<form method="POST" style="background:#122a55;padding:25px;border-radius:10px">
<h2>Lifebasket Login</h2>

<input name="username" placeholder="admin" style="padding:8px"><br><br>
<input name="password" type="password" placeholder="admin" style="padding:8px"><br><br>

<button style="padding:8px;background:#2d6cdf;color:white;border:none">Login</button>
</form>

</body>
</html>
